#main {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}

.section {
  width: 100vw;
  scroll-snap-align: start;
  flex-shrink: 0;
  font-size: 100px;
}
body{
  margin: 0;
  height: 100vh;
}
