#main {
	display: flex;
	scroll-snap-type: x mandatory;
	overflow: scroll;
	height: 92vh;
	width: 100vw;
}

.section {
	width: 100vw;
	scroll-snap-align: start;
	flex-shrink: 0;
	font-size: 100px;
}
body {
	margin: 0;
}

::-webkit-scrollbar {
  display: none;
}