.item{
  height: 12vh; 
  border-radius: 10px;
  padding: 20px 15px 20px 15px;
  color:#4363AF
}
.item > div:nth-child(1){
  font-size: 0.8em;
  text-align: left;
}
.item > div:nth-child(2){
  font-size: 0.6em;
  text-align: left;
}
.item > div:nth-child(3){
  font-size: 0.6em;
  text-align: left;
}